.container {
    min-height: 100px;
}


[class*="col-"] {
    min-height: 100px;
    text-align: center;
    position: relative;
    padding: 5px;
}

h2 {
    text-align: center;
    line-height: 200px;
    font-size: 35px;
    margin-bottom: 10px;
}

img {
    height: 220px;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
}

.sfondo {
    background-color: blue;
    border-radius: 50%;
}

hr {
    margin-top: 20px;
}

